:root {
  font: 16px / 1 sans-serif;
  --black: #0c0c0cbf;
  --color1: #813405;
  --color2: #d45113;
  --color3: #f9a03f;
  --color4: #f8dda4;
  --color5: #ddf9c1;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color2);
}

.home-link {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 600;
}

.home-page,
.band-page,
.main-band-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color1);
}

.band-page {
  margin-top: 5rem;
}

.band {
  margin: 1rem;
  padding: 1rem;
  border-bottom: solid 2px var(--black);
}

.band p {
  line-height: 1.5;
}

img {
  box-shadow: 3px 3px 5px 0px var(--black);
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0rem;
}

span {
  font-weight: normal;
}
