:root {
  font: 16px / 1 sans-serif;
  --black: #0c0c0cbf;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: var(--black);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--black);
}

.home-link {
  font-size: 1.5rem;
  font-weight: bold;
}

.home-page,
.band-page,
.main-band-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.band {
  margin: 1rem;
  padding: 1rem;
  border-bottom: solid 2px var(--black);
}

img {
  box-shadow: 3px 3px 5px 0px var(--black);
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0rem;
}

span {
  font-weight: normal;
}
